.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/.quarto/
/_*/
/*_cache/
/*_files/
/_book/
data-clean/hrm-dl-*.csv
figures/figure-260319-rf.jpg
figures/figure-260529-rf.jpg
figures/figure-exp-260529-single-species.jpg
figures/figure-new-data-rf.jpg
figures/figure-new-data-single-species.jpg